.reviews-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.people-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  flex: 1;
  justify-content: space-evenly;
}

.image {
  width: 100px;

  height: 100px;
  border-radius: 50px;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  position: relative;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.name-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.info {
  /* color: white; */
  box-shadow: 0 0 20px rgb(145, 207, 243);
}
